<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <!--<add name="ResposivaBD" connectionString="data source = 10.109.1.69; initial catalog = Responsivas; user id = Usuaio_Resp; password = Respon_2020;Application Name=ResponsivasMAT" />-->
    <add name="Plantilla" connectionString="data source = 10.109.1.121; initial catalog = PlantillaAGR; user id = APEC2; password = 3xt1ngu1d0r80.;Application Name=Plantilla" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="990000000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
